/*公用及清格式*/

.comWidth{width: 900px;margin-left: auto;margin-right: auto;background-color: rgba(255,255,255,0.8);}
.fl{float: left;}
.fr{float: right;}
.hide{display: none;}
.clear:after,.clear:before{content: "";display: block;clear: both;}
/*
html{color:#000;background:#FFF;}*/
body {font-size:16px;word-spacing:1px;color:#000000;background-color:#ffffff;
font-family:Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",Verdana,sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;} 

h1 {font-size: 28px;line-height: 28px;padding: 28px 0 28px 0;font-weight: bold;}
h2 {font-size: 22px;line-height: 22px;padding: 22px 0 22px 0;font-weight: bold;}
h3 {font-size: 18px;line-height: 18px;padding:18px 0 18px 0;font-weight: bold;}

/*h1,h2标题会被博客目录JS所收集，此标题大小与h2一样，但是不会被JS收集*/
h4 {font-size: 24px;line-height: 24px;padding:24px 0 24px 0;font-weight: bold;}

article p{text-indent: 2em;line-height: 200%;}

ul{ list-style:none;} 
a{text-decoration: none;color: black;}
a:hover{text-decoration: none;}
input{border: none;outline: none;}

pre {font-family: "Courier 10 Pitch", Courier, monospace;font-size: 95%;line-height: 140%;
white-space: pre;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;margin: 20px 10px;}       

code {font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;font-size: 95%;line-height: 140%;
white-space: pre;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -o-pre-wrap;background: #faf8f0;margin: 20px 10px;}

img{margin: 20px 0;}

table{border-top:2px solid #777;border-bottom: 2px solid #777;margin: 8px 0;}
table thead{border-bottom: 1px dashed #777;background-color: #aaa;color:#fff;}
table th{padding: 2px 10px;}
table tr:nth-child(2n){background-color: #E5EAED;}
table td{padding: 2px 10px;vertical-align: top;}
dl dt{font-weight: normal;font-size: 16px;line-height: 16px;}
dl dd{font-weight: normal;font-size: 12px;line-height: 12px;}
/*default页面*/
body{background-image: url(../image/bg.jpg);background-attachment:fixed;background-repeat:repeat;}
/*@@ 实现footer固定于页面底部*/
html,body{height:100%;}

.all-container{min-height:100%;position: relative;}
.main,.content{padding-bottom:40px;}
/*@@ end*/

/*顶部导航*/
.topHeader{height:140px;background: rgb(245,245,245);}
.topHeader .comWidth{background: rgb(245,245,245);}
.topHeader .logo{margin:45px 0 0 50px;width:100px;height:50px;display: inline-block;}
.topNav{display: inline-block;margin:50px 100px 0 100px;vertical-align:top;}
.topNav li{display: inline-block;padding:10px 20px;text-align: center;border-radius:20px;}
.topNav li a{color:rgb(105,105,105);font-weight: bold;}
.topNav li:hover,.active{background:rgb(225,225,225);}


.hidenavBox{position: relative;display:none;}

.searchForm{display: inline-block;}
.SearchIcon{display:inline-block;line-height: 17px;margin-right: -17px;position: relative;z-index: 1;}
.topSearch{width: 180px;background: rgb(245,245,245);border-bottom: 2px solid rgb(199,199,199);display:inline-block;line-height: 17px;padding:2px 0 2px 20px;}
.topSearch:focus{border-bottom: 2px solid rgb(34,34,34);}

.sidebar{background:rgb(35,35,35);position:fixed;right:-350px;top:0;bottom:0;width:350px;}
/*博客目录及个人简介切换*/
.sidebar-nav{margin:50px auto;width: 170px;}
.sidebar-nav-toc{display: inline-block;font-size: 16px;color: rgb(85,85,85);cursor: pointer;padding:0 5px 0;margin: 0 5px;}
.sidebar-nav-toc:hover{color: rgb(199,199,199);}
.sidebar-nav-toc-active{border-bottom: 2px solid rgb(115,218,255);color:rgb(115,218,255);font-size: 16px;padding:0 5px 0;display:inline-block;cursor:pointer;margin:0 5px;}
/*博客正文目录*/
.sideBarDirectory{margin:60px 40px 0;}
.sideBarDirectory dt,.sideBarDirectory dd{color:rgb(199,199,199);cursor: pointer;margin-top:10px;}
.sideBarDirectory dt:hover,.sideBarDirectory dd:hover{color: rgb(115,218,255);}
.sideBarDirectory dd{text-indent: 2em;}
.sideBarDirectory p{text-align: center;color:rgb(199,199,199);margin-top:10px;}
/*个人简介侧栏*/
.sidewarper{position: relative;text-align: center;}
.portrait{background-image:url(../image/portrait.jpg);height:100px;width: 100px;border-radius: 50%;margin:60px auto 30px;}
.sidewarper p{margin: 60px auto 0;color:rgb(211,211,211);font-weight: bold;font-size: 20px;}
.branches{display: inline-block;margin: 50px 0;border-right:1px solid rgb(50,50,50);padding: 0 10px;}
.lastbranch{border: none;}
.branches span{font-size:16px;color: rgb(130,130,130);padding: 5px 0;display: block;}
.branches .biger_span{font-size:22px;font-weight: bold;}
.branches a{display: block;}
.branches a:hover span{color:rgb(238,238,238);}
.links{margin-top: 50px;}
.links li{display: inline-block;padding:3px;}
.links li a{color: rgb(120,120,120);font-weight: bold;border-bottom: 1px dotted rgb(120,120,120);padding:5px 0;}
.links li a:hover{color:rgb(238,238,238);}

footer{background: rgba(245,245,245,0.8);height:120px;bottom:-83px;position: absolute;width: 100%;padding:20px 0 0 0;}
footer p{text-align: center;line-height:30px;}
footer a{color: red;padding: 5px;font-weight: bold;}
footer a:hover{background: rgb(113,113,113);border-radius: 8px;}

.fix_toggle{position: fixed;width:30px;bottom:90px;right:5px;}
.hide_toggle{line-height:20px;font-size:20px;width:30px;color: white;background:rgb(35,35,35);padding:5px;cursor: pointer;margin-top:5px;display: inline-block;}
.back_to_top{line-height:20px;font-size:20px;width:30px;color: white;background:rgb(35,35,35);padding:5px;cursor: pointer;display: inline-block;}

.pagination{margin: 0 auto;}

/*index页面*/
.post-area{margin-top: 5px;padding: 40px 40px 0;}

.post-title{display:inline-block;line-height:40px;font-size: 35px;font-weight: bold;
	color: rgb(55,55,55);margin-bottom: 20px;}
.post-title:hover{text-decoration:underline;}
.post-date{color: rgb(159,159,159);font-size:14px;display: block;}
.post-cate{color: rgb(159,159,159);border-bottom: 1px dotted rgb(115,115,115);margin: 2px 5px;color: rgb(115,115,115);}
.post-cate:hover{border-bottom: 1px solid rgb(34,34,34);}
.excerpt{margin-top:30px;}
.readmore{margin-top: 35px;margin-bottom:30px;font-size:14px;}
.readmore a{padding:5px 0;border-bottom: 3px solid rgb(102,102,102);color: rgb(115,115,115);}
.readmore a:hover{color:rgb(55,55,55);border-bottom: 3px solid rgb(55,55,55);}

.pagination-wraper{text-align: center;}

/*post页面*/
.post-body{padding:3px 40px 50px;}
.post-body header{text-align: center;padding-top:40px;}
.post-body header .post-date{margin-top:20px;}
.post-body article{padding:40px 0;border-bottom: 1px solid rgb(238,238,238);}
.post-body ul{list-style:square inside; padding: 10px 20px;}
.post-body ol{padding: 10px 20px;}
.post-body a{color: rgb(35,82,124);}
.post-body a:hover{color: rgb(35,82,255);}

.ds-thread{padding: 20px 40px 0;}

.changepageBar{margin-top:25px;}
.changepageBar .changepage{font-family: iconfont;font-size: 20px;line-height: 20px;color: rgb(55,55,55);}
.changepageBar .changepage:hover{color: black;}
.changepageBar .changepage .page-icon{font-size: 16px;font-style: normal;}

/*分类页面*/ 
.display-list{padding: 30px 30px 0 60px;margin-top: 5px;}
.display-list-title{color: rgb(85,85,85);font-size: 30px;line-height: 30px;font-weight: bold;font-family: iconfont;padding-top:30px;}
.display-list-title span{font-size: 30px;line-height: 30px;color: rgb(85,85,85);}

.display-list li a{margin-top: 20px;margin-left:20px;padding:10px 0;border-bottom: 1px dotted rgb(204,204,204);display: block;font-weight: bold;}
.display-list li a i{color: rgb(187,187,187);}
.display-list li a:hover{color:rgb(34,34,34);border-bottom: 1px dotted rgb(34,34,34);}
.display-list li a:hover i{color: red;}
.display-list-date{font-size:14px;color: rgb(34,34,34);font-weight: normal;}



@media screen and (max-width:850px) and (min-width:685px){
	.searchForm{margin: 60px 10px 0 0;float: right;}
	.topSearch{width:150px;}
	.topHeader .logo{float: left;}
	.topNav{float:left;margin:50px 10px 0 60px;}
}

@media screen and (max-width: 685px){
	.searchForm{display: none;}
	.topNav{display: none;}
	.hidenavBox{margin:40px 20px 10px 0;display: inline-block;}
	.mobilenav-wraper{display: none;position: absolute;left: 20px;}
	.topnavtoggle{display: inline-block;font-size:45px;width:60px;height:60px;padding:0 7px 15px 8px;cursor: pointer;margin:0 0 5px 40px;}
	.topnavtoggle:hover{background: rgb(225,225,225);}
	.mobileNav{padding:15px 30px 15px;background: rgb(225,225,225);border: 1px solid rgb(215,215,215);width:100px;}
	.mobileNav li{text-align:center;border-bottom: 1px dotted rgb(225,225,225);margin: 3px 0;}
	.mobileNav li:hover{border-bottom: 1px solid black;}

	.topHeader .logo{margin:45px 0 0 30px;}
	.post-area{margin-top: 5px;padding: 20px 10px 0;}
	.display-list{padding: 0 10px 0 10px;margin-top: 5px;}
	
	body{font-size: 12px;}
	h1 {font-size: 18px;line-height: 18px;padding: 18px 0 18px 0;font-weight: bold;}
	h2 {font-size: 16px;line-height: 16px;padding: 16px 0 16px 0;font-weight: bold;}
	h3 {font-size: 14px;line-height: 14px;padding:14px 0 14px 0;font-weight: bold;}
	/*h1,h2标题会被博客目录JS所收集，此标题大小与h2一样，但是不会被JS收集*/
	h4 {font-size: 16px;line-height: 16px;padding:16px 0 16px 0;font-weight: bold;}

}




