<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }} {{ site.title }}</title>
	
	<link rel="stylesheet" type="text/css" href="/resource/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/resource/css/main.css">
	<link rel="stylesheet" type="text/css" href="/resource/css/pygments.css">
	<link rel="stylesheet" type="text/css" href="/resource/iconfont/iconfont.css">
	<link rel="shortout icon" href="{{ site.baseurl }}/resource/image/Blog.png">
	
	<script type="text/javascript" src="/resource/js/main.js"></script>
</head>
<body>
<div class="all-container" id="container">
	<header class="topHeader">
		<div class="comWidth">
			<a class="logo" href="index.html"><img src="/resource/image/Blog.png" width="80" height="80"></a>
			<ul class="topNav">
				<li><a href="/index.html">首页</a>  <!-- 不写li结束标签是为了解决inline-block元素之间的空格解析 -->
				<li><a href="/category/index.html">分类</a>
				<li><a href="/archives/index.html">归档</a>
				<li><a href="###">关于</a></li>	<!-- 最后一个li的结束标签要写上，是为了兼容IE6 -->
			</ul>
		</div>
	</header>

	<div class="main">
		<div class="comWidth">
			<div class="content">
				{{ content }}
			</div>

			<aside class="sidebar" id="sidebar">
				<div class="sidewarper">
					<div class="portrait"></div>
					<p>落花无痕，流水有意。</p>
					<div class="branches">
						<a href="/archives/index.html">
							<span class="biger_span">{{ site.posts | size }}</span>
							<span>文章</span>
						</a>	
					</div><div class="branches">
						<a href="/category/index.html">
							<span class="biger_span">{{ site.categories | size }}</span>
							<span>分类</span>
						</a>	
					</div><div class="branches lastbranch">
						<a href="">
							<span class="biger_span">0</span>
							<span>友链</span>
						</a>	
					</div>

					<ul class="links iconfont">
						<li><a href="https://github.com/zibiaowu" target="_blank">&#xe61d;GitHub</a></li>
						<li><a href="" target="_blank">&#xe61e;Email</a></li>
						<li><a href="http://weibo.com/1956991773/profile?topnav=1&wvr=6&is_all=1" target="_blank">&#xe61c;Weibo</a></li>
					</ul>
				</div>
			</aside>

		</div>
	</div>

	<footer id="footer">
        {% include copyright.html %}
    </footer>

	<div class="fix_toggle" id="fix_toggle">
		<span class="hide_toggle iconfont" title="隐藏个人信息" id="hide_toggle">&#xe61a;</span>
		<span class="back_to_top iconfont" id="back_top" title="回到顶部">&#xe615;</span>
	</div>
</div>
</body>
</html>